# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/
build/
dist/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# ------------------------
# Arduino / ESP32
# ------------------------
*.elf
*.bin
*.hex
*.map
*.out
*.d
*.o
*.a

# PlatformIO build files
.pio/

# Arduino IDE backups
*.ino.cpp

# ------------------------
# OS / Editor files
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

